* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.angular-google-map-container {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  margin: 0;
  padding: 0!important;
}

main.container{
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}


html, body {
  font-family: 'Alegreya', serif;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* .yog-container{
  background-image: url('../images/yoga-class1.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  height: 82vh;
  width: 675px;
  margin:auto;
  display: inline-block;
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} */

.info-container{
  height: 100%;
  display : flex;
  align-items : center;
}

.info-text{
  line-height: 50px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid black;
}

.right{
  float: right;
}

.center{
  height: 100vh;
  background-image: url('images/yoga-class.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.center-box{
  margin: auto;
  width: 53%;
}

.info-box{
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-right: 35px;
}

.image-container{
  overflow: hidden;
  width: 100%;
}

.topper{
  background-image: url('images/edge1.png');
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 99;
  mix-blend-mode: multiply;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
